In [ ]:
#Accessing the elements in the Array
animals= ["cat", "dog", "fish"]
x = animals [0]
print(x)

cat

In [ ]:
#Modifying elements in the Array
animals= ["cat", "dog", "fish"]
animals [0] = 'monkey'
x = animals [0]

print(animals)

['monkey', 'dog', 'fish']

In [ ]:
#Length of the array
animals =['cat', 'monkey', 'dog', 'fish']
animals[0] = 'monkey'
x = len(animals)
print(x)

4

In [ ]:
#looping array elements
animals= ['monkey', 'cat','dog','fish']
for x in animals:
  print(x)

monkey
cat
dog
fish

In [ ]:
#adding item in the animals
animals= ['monkey', 'cat', 'dog', 'fish']
animals.append('bird')
print(animals)

['monkey', 'cat', 'dog', 'fish', 'bird']

In [ ]:
#remove an item in the array lists
animals = ['monkey', 'cat', 'dog','fish']
animals.pop(2)
print(animals)

['monkey', 'cat', 'fish']

In [5]:
#Inserting an animal in a specific location using insert()
animals = ['monkey', 'cat', 'dog','fish']
animals.insert(4,'bird')
print(animals)

['monkey', 'cat', 'dog', 'fish', 'bird']

In [6]:
#Remove the item in the specified index value using remove()
animals = ['monkey', 'cat', 'dog','fish']
animals.remove('fish')
print(animals)

['monkey', 'cat', 'dog']

In [4]:
#Reverse all items
animals = ['monkey', 'cat', 'dog','fish']
animals.reverse()
print(animals)

['fish', 'dog', 'cat', 'monkey']